%border-radius{
	@include border-radius(4px);
}

%active{
	color: $navigation-hover-color;		
}

%time-tag{
	margin-top: 8px;
	color: $gray;	
	font-size: $xxsmall-font-size;
	.tag-label{
		padding-left: 10px;	
		color: $xxlight-dark;
	}
	.tag{
		color: #999;
		padding: 4px;
		background: #EEE;
		margin-right: 4px;
		text-decoration: none;
		@include transition(all .2s ease-in-out);
		&:hover{
			color: #FFF;
			background: #BABABA;
		}
	}	
}

%title-hover{
	a{
		text-decoration: none;
		&:hover{
			color: $tag-color;
			text-decoration: underline;
		}
	}	
}

@mixin pink-btn($border-radius:2px, $padding: .6em .8em){
	.pink-btn, .pink-btn:hover{
		color: #FFF !important;
		text-decoration: none !important;		
	}
	.pink-btn{
		margin-top: 1.2em;
		font-weight: bold;
		padding: $padding;
		background: #DF481A;
		display: inline-block;
		@include border-radius(2px);
		@include background-image(linear-gradient(top, #DF481A, #D12A0C));
		&:hover{
			background: darken(#DF481A, 5%);
			@include background-image(linear-gradient(top, darken(#DF481A, 5%), darken(#D12A0C, 1%)));
		}		
	}
}
