html{
    height: 100%;
}

body{
	font-size: 100%;//default font size 16px
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: $body-bg-color;  
}

h1, h2, h3, h4, h5, h6{
	margin: 12px 0;
    color: $xxlight-dark;
}

@include active-navigation(){		
	a{
		@extend %active;	
	}	
};

.wrapper{
	position: relative;
	padding-bottom: 4em;
}

.articles{
	min-height: 580px;
	color: $font-color;
	background: $article-wrapper-bg-color;
	border: 1px solid $border-color;
	border-top-color: transparent;
}

.navigation ul, .footer-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-wrapper ul li{
	margin: 0;
}

.article{
	padding: 36px 30px;	
}

.image-container{
	text-align: center;
	padding: 25px 35px;
	background: $body-bg-color;
	border: 1px solid $border-color;
	@extend %border-radius;	
	img{
		border: 0;
		max-width: 100%;
	}
}

.search-box{
	width: 9em;
	padding: 3px 2px;
}

.search-btn{
	margin: 0 !important;;
	padding: 1px 4px !important;
}

/**clear float*/
.clearfix{
	*zoom: 1;/**fix IE6-7*/
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;		
	}
}

/**go to top button*/
.go2Top{
	left: 86%;
    z-index: 2;
    color: #FFF;
    opacity: 0;  
	bottom: 4em;	
    padding: .6em;    
	position: fixed;
	background: #E0E0E0;
	text-decoration: none;
	@extend %border-radius;
	@include transition(all .3s ease-in-out);
	&:hover{
		background: #BBB;	
	}
	i{
		width: 17px;
		height: 17px;
		display: inline-block;				
	}
}