@charset "utf-8";
@import "compass/css3";

@import "reset";
@import "variable";
@import "class";

@import "syntax";
@import "typography";

@import "common";
@import "component/sidenav";
@import "component/navigation";
@import "component/pagination";
@import "component/footer";

.article-wrapper{
	float: left;
	width: $container-width + $increament;		
}
.articles{
	color: $font-color;
	margin-left: $container-width * $container-gutter / ($container-width + $increament);
	@include border-radius(6px);
	@include box-shadow(1px 0px 30px 1px #555, -1px 0px 30px 1px #555);
	background: $article-wrapper-bg-color;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;		
}

