@mixin rwd($currentPage:'home'){
	@media (max-width: 940px) { 
		.wrapper{
			padding-bottom: 0;
		}
		.articles{
			border-left: none;
			border-right: none;			
		}
		.article, .sidenav-wrapper{
			padding: 16px 18px;	
		}
		.footer-wrapper{
			display: none;
		}
		.sidenav-wrapper{
			padding: 0;
			width: 100%;
			float: none;
			top: -500px;
			visibility: hidden;
			position: fixed;
			background: $body-bg-color;	
			border-bottom: 1px solid $border-color;	
			@include transition(top .4s linear);
		}
		.sidenav{
			padding: 0 10px 10px;
		}
		.article-wrapper{
			margin-left: 0;
			margin-right: 0;
		}
		.container{
			margin-right: 0;
		}
		.navigation{
			width: 100%;
			position: relative;
			ul{
				margin-left: 8px;	
			}
			li{
				margin-right: 0;	
			}
			a{
				width: 3.4em;
				&:hover{
					color: #FFF;
					@include text-shadow(none);
				}
			}
			.fa{
				margin-right: 4px;
			}		
			.menu{
				display: block;
				i{
					top: 2px;
					width: 17px;
					height: 17px;
					position: relative;
					display: inline-block;
				}
			}
		}
		.footer-wrapper .footer{
			margin-left: 30px;
		}
	}
	 
	/* Default: 940px and up  */
	@media (min-width: 941px) and (max-width: 1210px) {
		.articles{
			border-left: 0;
			.article:first-child{
				padding-top: 20px;
			}
		}
		.article-wrapper{
			margin-left: 0;
		}
		.navigation {
			width: 100%;
			position: relative;
			li{
				margin-right: 0;	
			}			
			ul{
				margin-left: 15px;		
			}
		}
		.footer-wrapper .footer{
			margin-left: 30px;
		}
		.sidenav-wrapper{
			visibility: visible !important;
		}
		.sidenav{
			padding-top: 10px;
		}		
	}

	/* Large desktop */
	@media (min-width: 1211px) { 
		.navigation{
			float: left;
			width: 300px;
			z-index: 100;
			position: fixed;
			_position: relative;
			background: transparent;
			ul, li{
				margin: 0;
				float: none;
			}
			li{
				border-bottom: 1px solid $border-color;
			}
			a{
				width: auto;
				height: auto;
				padding: 10px 20px;
				display: block;	
				text-align: left;		
				color: $font-color;
				border-left: 4px solid transparent;
				&:hover{
					background: #FFF;
					color: $font-color;
					border-left-color: #f58220;
					@include text-shadow(none);						
				}				
			}
			h4{
				margin: 0;
			}
		}
		@include active-navigation(){
			a{
				background: #FFF;
				color: $font-color;
				margin-right: -1px;
				border-left-color: #f58220;
				@include text-shadow(none);					
			}
		};
		.wrapper{
			float: left;
			width: 100%;
			margin-left: -10px;
			_margin-left: -310px;
		}
		.article-wrapper{
			margin-left: 310px;
		}
		.articles{
			@include border-radius(4px);
			.article:first-child{
				padding-top: 10px;
			}
		}
		.footer-wrapper{
			.footer{
				margin-left: 300px;
			}
		}
		.sidenav-wrapper{
			visibility: visible !important;
			.sidenav{
				padding-top: 0px;	
			}
		}	
	}	
}

