@mixin rwd($currentPage:'home'){
	@media (max-width: 940px) { 
		.wrapper{
			padding-bottom: 0;						
		}
		.articles{
			border-right: none;	
			.article:first-child{
				padding-top: 20px;
			}		
		}
		.article-wrapper{
			margin-right: 0;
		}		
		.article, .sidenav-wrapper{
			padding: 36px 30px;
		}
		.footer-wrapper{
			display: none;
			footer{
				margin-left: 0;
			}
		}
		.sidenav-wrapper{
			padding: 0;
			width: 100%;
			float: none;
			top: -500px;
			position: fixed;
			visibility: hidden;
			background: $body-bg-color;	
			border-bottom: 1px solid $border-color;	
			@include transition(top .4s linear);
		}
		.sidenav{
			padding: 0 10px 10px;
		}
		.container{
			margin-right: 0;
		}
		.footer-wrapper .footer{
			margin-left: 30px;
		}
		.navigation{
			.menu{
				display: block;
				i{
					top: 2px;
					width: 17px;
					height: 17px;
					position: relative;
					display: inline-block;					
				}
			}
		}
	}
	 
	/* Default: 940px and up  */
	@media (min-width: 941px) and (max-width: 1210px) {
		.article-wrapper{
			margin-right: 31.00000000000001%;	
		}		
		.footer-wrapper .footer{
			margin-left: 30px;
		}
		.sidenav-wrapper{
			width: 30%;
			visibility: visible !important;
		}
		.container{
			margin-right: -31.00000000000001%;
		}
		.sidenav{
			padding-top: 10px;
		}		
	}

	@media (max-width: 1210px) {
		.articles{
			.article:first-child{
				padding-top: 20px;
			}		
		}		
		.wrapper{
			float: none;
			margin-left: 0;
			_margin-left: 0;
		}
		.navigation {
			width: 100%;
			float: none;
			position: relative;
			background: $light-dark;
			ul{
				float: left;
				margin-left: 20px;
				li{
					margin: 0;
					float: left;
					margin-right: 0;	
					border-bottom: none;		
				}		
			}
			h4{
				margin: 12px 0;
			}
			a{
				padding: 0;
				height: 1.4em;
				width: 3.4em;
				text-align: center;
				border-left: none;
				color: #f9f9f9;
				&:hover{
					color: #4ecdc4;
					background: transparent;
					@include text-shadow(rgba(#4ecdc4, .4) 1px 1px 0);	
				}					
			}			
		}
		.articles{
			border-left: 0;						
			@include border-radius(0px);
		}
		.article-wrapper{
			margin-left: 0;
		}
		@include active-navigation(){
			a{
				color: #4ecdc4;
				margin-right: -1px;
				background: transparent;
				border-left-color: #F58220;
				@include text-shadow(none);					
			}
		}			
	}

	/* Large desktop */
	@media (min-width: 1211px) { 
		.sidenav-wrapper{
			visibility: visible !important;
			.sidenav{
				padding-top: 0px;	
			}
		}			
		@include active-navigation(){
			a{
				background: #FFF;
				color: $font-color;
				margin-right: -1px;
				border-left-color: #F58220;
				@include text-shadow(none);					
			}
		}
	}
}

