/*@import "compass/typography";

@include establish-baseline;*/

h1{
	font-size: $h1-font-size;//32px
	//line-height: $h1-line-height;
}

h2{
	font-size: $h2-font-size;//28px
	//line-height: $h2-line-height;
}

h3{
	font-size: $h3-font-size;//24p
	//line-height: $h3-line-height;
}

h4{
	font-size: $h4-font-size;//22px
	//line-height: $h4-line-height;
}

h5{
	font-size: $h5-font-size;//20px
	//line-height: $h5-line-height;
}

h6{
	font-size: $h6-font-size;//18px
	//line-height: $h6-line-height;
}

p, li, .highlight{
	line-height: 1.8em;
}


