/*@import "compass/typography";

@include establish-baseline;*/

h1{
	font-size: $h1-font-size;//32px
	margin: $h1-line-height 0;
}

h2{
	font-size: $h2-font-size;//28px
	margin: $h2-line-height 0;
}

h3{
	font-size: $h3-font-size;//24p
	margin: $h3-line-height 0;
}

h4{
	font-size: $h4-font-size;//22px
	margin: $h4-line-height 0;
}

h5{
	font-size: $h5-font-size;//20px
	margin: $h5-line-height 0;
}

h6{
	font-size: $h6-font-size;//18px
	margin: $h6-line-height 0;
}

p, li, .highlight{
	line-height: 1.8em;
}


