//color

$dark: #000;
$light-dark: #222; 
$xlight-dark: #333;
$xxlight-dark: #555;
$xxxlight-dark: #666;
$emphasize-font: #660;

$gray: #AAA;
$xgray: #E0E0E0;

$font-color: $xxlight-dark;
$navigation-color: #F9F9F9;
$side-nav-title-color: $light-dark; 
$footer-header-bg-color: #F9F9F9;
$body-bg-color: #F6F6F6;
$navigation-bg-color: $light-dark;
$border-color: #E0E0E0;
$navigation-hover-color: #4ECDC4;
$article-content-color: #AAA;
$article-wrapper-bg-color: #FFF;
$side-nav-link-color: $emphasize-font;
$side-nav-link-hover-color: $dark; 

$tag-color: #F58220; 

//font size, line-height
$base-font-size: /*1em*/16px;//default font size 16px
$base-line-height: /*1em*/12px;//default line height 12px 
$small-font-size: 0.875em;//14px
$xsmall-font-size: 0.8125em;//13px
$xxsmall-font-size: 0.75em;//12px

//width,gutter
$sidenav-gutter: 0%;
$container-gutter: 5%;
$sidenav-width: 300px; 
$container-right-gutter: -($sidenav-width + 10);
$articles-right-gutter: ($sidenav-width + 10);
$header-footer-gutter: $container-gutter;
$blog-container-gutter: $container-gutter;

$navigation-items: (home, archives, tags, blog, about, contact);