$font-color: #888;
$body-bg-color: #A2A749;
$border-bottom-color: #E2E2E2;
$navigation-color: #222;
$navigation-hover-color: #FFF;
$article-content-color: #AAA;
$article-wrapper-bg-color: #F5F5D5;
$side-nav-title-color: #222; 
$side-nav-link-color: #660;
$side-nav-link-hover-color: #000;  
$footer-header-bg-color: #222;
$base-font-size: 16px;
$base-line-height: 12px;