//color

$dark: #000;
$light-dark: #222; 
$xlight-dark: #333;
$xxlight-dark: #555;
$xxxlight-dark: #666;
$emphasize-font: #660;

$gray: #AAA;
$xgray: #E0E0E0;

$font-color: $xxlight-dark;
$navigation-color: #F9F9F9;
$side-nav-title-color: $light-dark; 
$footer-header-bg-color: #F9F9F9;
$body-bg-color: #F6F6F6;
$navigation-bg-color: $light-dark;
$border-color: #E0E0E0;
$navigation-hover-color: #4ECDC4;
$article-content-color: #AAA;
$article-wrapper-bg-color: #FFF;
$side-nav-link-color: $emphasize-font;
$side-nav-link-hover-color: $dark; 

$tag-color: #F58220; 

//font size, line-height
$base-font-size: /*1em*/16px;//default font size 16px
$base-line-height: /*1em*/12px;//default line height 12px 
$small-font-size: 0.875em;//14px
$xsmall-font-size: 0.8125em;//13px
$xxsmall-font-size: 0.75em;//12px
/*$h1-font-size: 2em;//32px
$h2-font-size: 1.75em;//28px
$h3-font-size: 1.5em;//24p
$h4-font-size: 1.375em;//22px
$h5-font-size: 1.25em;//20px
$h6-font-size: 1.125em;//18px
$h1-line-height: .375em;
$h2-line-height: .4285714285714286em;
$h3-line-height: .5em;
$h4-line-height: .5454545454545455em;
$h5-line-height: .6em;
$h6-line-height: .6666666666666667em;*/

//width,gutter
$sidenav-gutter: 0%;
$container-gutter: 5%;
$sidenav-width: 300px; 
$container-right-gutter: -($sidenav-width + 10);
$articles-right-gutter: ($sidenav-width + 10);
$header-footer-gutter: $container-gutter;
$blog-container-gutter: $container-gutter;