@import 'other';
.archives .article{
	border-bottom: none;
}
.archives-list{
	padding-left: 20px;
	list-style: none;
	h4{
		color: $tag-color;
		margin-top: 0;	
		margin-left: -20px;	
	}
	a{
		text-decoration: none;
		@include transition(color .2s ease-in-out);
		&:hover{
			color: $tag-color;
			text-decoration: underline;
		}
	}
}

.article .time-tag{
	margin-top: -8px;
}
