@charset "utf-8";
@import "compass/css3";

@import "reset";
@import "variable";
@import "class";

@import "rwd";
@import "sprite";
@import "syntax";
@import "typography";

@import "common";
@import "component/sidenav";
@import "component/navigation";
@import "component/pagination";
@import "component/footer";

.wrapper{
	float: left;
	width: 100%;
	margin-left: -10px;
	_margin-left: -20.66666666666667%;
}
/**main content*/
.container{
	width: 100%;
	float: left;
	margin-right: -20.66666666666667%;
}

.article-wrapper{
	margin-right: 20.66666666666667%;
	margin-left: 20.66666666666667%;	
}

.sidenav-wrapper{
	float: left;
	width: 20%;
}

.articles{
	@include border-radius(4px);
	.article:first-child{
		padding-top: 10px;
	}
}

.footer-wrapper{
	.footer{
		margin-left: 20%;
	}
}

.article{
	width: auto;
	float: none;
	margin-left: 0;
	border-bottom: 1px solid $border-color;
	@include transition(all .3s ease-in-out);
	&:last-child{
		border-bottom: none;
	}
	a{
		color: $light-dark;
	}
	.article-header{
		margin-bottom: 1.2em;
	}
	.article-content{
		color: $light-dark;
		p{
			margin: .6em 0;
		}
		@extend %title-hover;
	}
	.time-tag{
		@extend %time-tag;
	}
	.title{
		margin-top: 0;
		margin-bottom: 6px;
		@extend %title-hover;
	}
}
@include active-navigation(){
	a{
		background: #FFF;
		color: $font-color;
		margin-right: -1px;
		border-left-color: #F58220;
		@include text-shadow(none);					
	}
};
@include rwd();
/**pink button*/
@include pink-btn;

