@charset "utf-8";
@import "compass/css3";

@import "reset";
@import "variable";
@import "class";

@import "rwd";
@import "sprite";
@import "syntax";
@import "typography";

@import "common";
@import "component/sidenav";
@import "component/navigation";
@import "component/pagination";
@import "component/footer";

/**main content*/
.container{
	width: 100%;
	float: left;
	//margin-right: 0;
	margin-right: $container-right-gutter;
}

.article-wrapper{
	margin-right: $articles-right-gutter;	
}

.sidenav-wrapper{
	//right: 0;
	float: left;
	width: 300px;
	//position: fixed;
	//_position: static;
}

@include rwd();

.article{
	width: auto;
	float: none;
	margin-left: 0;
	border-bottom: 1px solid $border-color;
	@include transition(all .3s ease-in-out);
	&:last-child{
		border-bottom: none;
	}
	a{
		color: $light-dark;
	}
	.article-header{
		margin-bottom: 1.2em;
	}
	.article-content{
		color: $light-dark;
		p{
			margin: .6em 0;
		}
		@extend %title-hover;
	}
	.time-tag{
		@extend %time-tag;
	}
	.title{
		margin-top: 0;
		margin-bottom: 6px;
		@extend %title-hover;
	}
}

/**pink button*/
@include pink-btn;




