@charset "utf-8";
@import "compass/css3";

@import "reset";
@import "variable";
@import "class";

@import "syntax";
@import "typography";

@import "common";
@import "component/navigation";
@import "component/pagination";
@import "component/footer";

.blogItem .article-wrapper{
	width: 1 - $blog-container-gutter;
	margin-left: $blog-container-gutter;		
}

.blogItem {
	.articles{
		color: $font-color;
		margin-right: 18%;
		padding: 14px 20px;
		@include border-radius(6px);
		@include box-shadow(1px 0px 30px 1px #555, -1px 0px 30px 1px #555);
		background: $article-wrapper-bg-color;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;		
	}	
	.time-tag{
		@extend %time-tag;
	}
	h1, h2, h3, h4, h5, h6{
		font-weight: bold;
	}
}

/**留言板*/
.comment{
	color: #000;
	margin: 2.5em 0 0;	
}