---
layout: default
activePage: blog
---
{%for post in paginator.posts%}
<article class="article">
	<header class="article-header">
		<h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
    	<p class="time-tag">
    		<time datetime="{{post.date|date:'%Y-%m-%d'}}">{{post.date|date:"%Y年%m月%d日"}}</time>
    		<span class="tag-label">标签:</span>
    		{% for tag in post.tags %}
    		<a class="tag" href="/tags/index.html#{{ tag | replace:' ', '_' }}">{{ tag }}</a>	
    		{% endfor %}
    	</p>				
	</header>
	<div class="article-content">
		{% if post.content contains '<!--more-->' %}
		    {{ post.content | split:'<!--more-->' | first }}
		{% else %}
		    {{ post.excerpt }}
		{% endif %}	
		<a class="pink-btn" href="{{post.url}}">阅读全文</a>
	</div>
</article>
{%endfor%}
{%if paginator.total_pages > 1%}
<div class="pagination">
	{%for page in (1..paginator.total_pages)%}
	    {%if page == paginator.page%}
	        <a class="current" href="javascript:void(0);">{{page}}</a>
	    {%else%}
	        <a href="{{site.url}}/{%if page > 1%}page{{page}}/{%endif%}">{{page}}</a>
	    {%endif%}
	{%endfor%}	
</div>
{%endif%}
