<script src="/javascript/jquery-1.10.2.js"></script>	
<script src="/javascript/smoothscroll.js"></script>
<header class="navigation clearfix">
	<ul>
		<li><h4><a id="blog" href="{{site.url}}/">首页</a></h4></li>
		<li><h4><a id="archives" href="{{site.url}}/archives">归档</a></h4></li>
		<li><h4><a id="tags" href="{{site.url}}/tags">标签</a></h4></li>
		<li><h4><a id="about" href="{{site.url}}/about/me.html">关于</a></h4></li>
		<li><h4><a id="contact" href="{{site.url}}/contact">联系</a></h4></li>
	</ul>
</header>