<script src="/javascript/lib/jquery-1.10.2.js"></script>
<script src="/javascript/lib/jquery.tagcloud.js"></script>	
<script src="/javascript/smoothscroll.js"></script>
<header class="navigation clearfix">
	<ul>
		<li id="blog">
			<h4><a href="{{site.url}}/">首页</a></h4>
		</li>
		<li id="archives">
			<h4><a href="{{site.url}}/archives">存档</a></h4>
		</li>	
		<li id="tags">
			<h4><a href="{{site.url}}/tags">标签</a></h4>
		</li>				
		<li id="about">
			<h4><a href="{{site.url}}/about/me.html">关于</a></h4>
		</li>
	</ul>
	<a href="javascript:void(0);" class="menu">
		<i class="icons-sprite icons-menu"></i>
	</a>
</header>