/**footer*/
.footer-wrapper{
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	border-top: 1px solid $border-color;
	background-color: $footer-header-bg-color;
	.footer{
		margin-left: 30px;
		font-size: $small-font-size;
		color: $article-content-color;
	}
	ul{
		padding: 6px 0;
	}
	li{
		float: left;
		padding: 0 4px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		a{
			color: $xxlight-dark;
			text-decoration: none;
			&:hover{
				color: $tag-color;
				text-decoration: underline;
			}
		}
	}
}