.navigation{
	top: 0;
	left: 0;
	width: 20%;
	float: left;
	z-index: 100;
	position: fixed;
	_position: relative;
	background: transparent;
	ul{
		&, li{
			margin: 0;
			float: none;			
		}
		li{	
			border-bottom: 1px solid $border-color;
		}
	}
	.fa{
		margin-right: 8px;
	}
	a{
		width: auto;
		height: auto;		
		display: block;
		font-weight: bold;
		line-height: 1.4em;
		padding: 10px 20px;	
		text-align: left;
		text-decoration: none;
		color: $font-color;
		border-left: 4px solid transparent;
		@include transition(all .3s ease-in-out);
		&:hover{
			background: #FFF;
			color: $font-color;
			border-left-color: #f58220;						
		}			
	}
	h4{
		margin: 0;
	}	
	.menu{
		display: none;
		float: right;
		height: 52px;
		line-height: 52px;
		span{
			width: 28px;
			height: 28px;
			display: block;
			background: url(../images/img.png) 0px -5px no-repeat;
		}		
	}
}