/**pagination*/
.pagination{
	line-height: 0;
	padding: .8em 0;
	text-align: center;
	a{
		width: 2.5em;
		height: 2.5em;		
		margin: 0 0.25em;
		color: $light-dark;
		font-weight: bold;
		line-height: 2.5em;
		display: inline-block;
		text-decoration: none;
		border: 1px solid transparent;
		@extend %border-radius;
		@include transition(all .2s ease-in-out);
		&:hover{
			color: $tag-color;
			border-color: $border-color;
			background-color: $body-bg-color; 
		}	
	}
	.current{
		cursor: default;
		border-color: $border-color;
		background-color: $body-bg-color;
	}	
}