.sidenav{
	padding: 14px 0 0 16px;
	h5{
		color: $tag-color;
	}
	ul, li{
		margin: 0;
	}
	ul {
		list-style: none;
		padding-left: 20px;
	}
	a {
		font-weight: bold;
		font-size: $xsmall-font-size;
		color: $side-nav-link-color;
		@include transition(color .3s ease-in-out);
		&:hover{
			color: $side-nav-link-hover-color;
		}
	}

	.search-box{
		width: 9em;
		margin-right: 4px;
		padding: 4px 2px;
	}

	.search-btn{
		bottom: 1px;
		position: relative;
		font-size: $base-font-size;
		padding: 2px 6px !important;
	}	
}
