.sidenav{
	padding: 0 10px 0 20px;
	h4{
		margin-bottom: 2px;
		color: $tag-color;
	}
	.fa{
		margin-right: 6px;
	}
	ul, li{
		margin: 0;
	}
	ul {
		padding-left: 0;
		list-style: none;
	}
	a {
		color: $xxxlight-dark;
		text-decoration: none;
		@include transition(color .2s ease-in-out);
		&:hover{
			color: $dark;
			text-decoration: underline;
		}
	}
}
#tag-cloud{
	line-height: 2em;
	a {
		float: left;
		margin-right: 4px;
		&:last-child{
			margin-right: 0;
		}
		text-decoration: none;
		@include transition(color .3s ease-in-out);
		&:hover{
			color: #000 !important;
			text-decoration: underline;
		}
	}	
}
.search-box-wrapper{
	margin: 0;
	input{
		width: 9.6em;
		margin-right: 4px;
		padding: 6px 2px;
		border: 1px solid darken($border-color, 10%);
		@extend %border-radius;
		&:focus{
			outline: none;	
		}			
	}
	.search-btn{
		bottom: 1px;
		position: relative;
		font-size: $base-font-size;
		padding: 2px 10px !important;
	}		
}
