<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>ShinyBender Blog</title>
	<!--[if lt IE 9]>
	    <script src="/javascript/lib/html5shiv.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="/css/home.css">	
</head>
<body class="{{page.activePage}}">
	<a href="https://github.com/lightunderblack">
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
	</a>	
	{%include header.html%}
	<div class="wrapper">
		<div class="container clearfix">
			<div class="article-wrapper">
				<div class="articles">{{content}}</div>
			</div>
			<div class="sidenav-wrapper">{%include sidenav.html%}</div>
		</div>
		<a class="go2Top" href="javascript:void(0)">返回顶部</a>	
	</div>
	{%include footer.html%}			
</body>
</html>