<!doctype html>
<html lang="zh">
<head>
	<title>Bender's Blog</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="description" content="陈会能,前端开发工程师的技术博客" />
	<meta name="keywords" content="JavaScript,HTML5,HTML,CSS,CSS3,Web,陈会能" />
	<!--[if lt IE 9]><script src="/javascript/lib/html5shiv.js"></script><![endif]-->	
	<link rel="stylesheet" href="/css/home.css">	
</head>
<body class="{{page.activePage}} clearfix">
	{%include header.html%}
	<div class="wrapper clearfix">
		<div class="container">
			<section class="article-wrapper">
				<div class="articles">{{content}}</div>
			</section>
		</div>
		<aside class="sidenav-wrapper">{%include sidenav.html%}</aside>
		<a class="go2Top" href="javascript:void(0)" title="返回顶部">
			<i class="icons-sprite icons-arrow-up"></i>
		</a>	
	</div>
	{%include footer.html%}			
</body>
</html>