<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>ShinyBender Blog</title>
	<!--[if lt IE 9]>
	    <script src="/javascript/lib/html5shiv.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="/css/{{page.activePage}}.css">	
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">	
</head>
<body class="{{page.activePage}} clearfix">
	{%include header.html%}
	<div class="wrapper clearfix">
		<div class="container">
			<section class="article-wrapper">
				<div class="articles">
					<!--内容-->
					{{content}}
					<!--留言板-->
					{%include comment.html%}
				</div>
			</section>
		</div>
		<aside class="sidenav-wrapper">{%include sidenav.html%}</aside>
		<a class="go2Top" href="javascript:void(0)" title="返回顶部">
			<i class="fa fa-arrow-up"></i>
		</a>	
	</div>
	{%include footer.html%}		
</body>
</html>