<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>ShinyBender Blog</title>
	<!--[if lt IE 9]>
	    <script src="/javascript/lib/html5shiv.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="/css/{{page.activePage}}.css">	
</head>
<body class="{{page.activePage}}">
	{%include header.html%}
	<div class="wrapper clearfix">
		<div class="article-wrapper">
			<div class="articles">
				<div class="article">
					<!--内容-->
					{{content}}
					<!--留言板-->
					{%include comment.html%}				
				</div>				
			</div>
		</div>
		<a class="go2Top" href="javascript:void(0)">返回顶部</a>	
	</div>
	{%include footer.html%}			
</body>
</html>