<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>ShinyBender Blog</title>
	<!--[if lt IE 9]>
	    <script src="/javascript/lib/html5shiv.js"></script>
	<![endif]-->	
	<link rel="stylesheet" href="/css/post.css">	
</head>
<body class="{{page.activePage}}">
	{%include header.html%}
	<div class="wrapper clearfix">
		<div class="article-wrapper">
			<article class="articles">
				<h1>{{page.title}}</h1>
				<p class="time-tag">
					<time class="time" datetime="{{page.date|date:'%Y-%m-%d'}}">{{page.date|date:"%Y年%m月%d日"}}</time>
					<span class="tag-label">标签:</span>
		    		{% for tag in page.tags %}
		    		<a class="tag" href="/tags/index.html#{{ tag | replace:' ', '_' }}">{{ tag }}</a>
		    		{% endfor %}
				</p>				
				<!--文章内容-->
				{{content}}
				<!--留言板-->
				{%include comment.html%}					
			</article>
		</div>			
		<a class="go2Top" href="javascript:void(0)">返回顶部</a>
	</div>
	{%include footer.html%}					
</body>
</html>